<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a routerLink="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img src="../../../assets/svg/logo.svg" alt="" class="w-10 h-10">
      <span class="ml-3 text-xl">LionWoodBlog</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center ">
      <a routerLink="/" class="flex row-auto outline-none border-purple-500 border-2 rounded-full py-1 px-4 mr-4">
        <img src="../../../assets/svg/home.svg" class="w-5 h-5" alt="">
        <div class="ml-1 font-semibold text-gray-600 hover:text-gray-800">Home</div>
      </a>
      <a routerLink="/blog" class="flex row-auto outline-none border-purple-500 border-2 rounded-full py-1 px-4 mr-4">
        <img src="../../../assets/svg/posts.svg" class="w-5 h-5" alt="">
        <div  class="ml-1 font-semibold text-gray-600 hover:text-gray-800">Blog</div>
      </a>
      <a routerLink="/contact" class="flex row-auto outline-none border-purple-500 border-2 rounded-full py-1 px-4 mr-4">
        <img src="../../../assets/svg/contact.svg" class="w-5 h-5" alt="">
        <div  class="ml-1 font-semibold text-gray-600 hover:text-gray-800">Contact</div>
      </a>
      <a routerLink="/about" class="flex row-auto outline-none border-purple-500 border-2 rounded-full py-1 px-4 mr-4">
        <img src="../../../assets/svg/about.svg" class="w-5 h-5" alt="">
        <div class="ml-1 font-semibold text-gray-600 hover:text-gray-800">About Us</div>
      </a>
    </nav>
    <button routerLink="/create" class="inline-flex items-center mt-4 md:mt-0 px-7 py-2 font-semibold text-white transition duration-500 ease-in-out transform bg-purple-500 rounded-lg hover:bg-blueGray-900 focus:ring focus:outline-none">
      <img src="../../../assets/svg/feather.svg" class="pr-2" alt="">
      Create Post
    </button>

  </div>
</header>
